* {
	border: none;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	overflow-y: hidden;
}

body.menu-is-visible .app-header-backdrop {
	opacity: 1;
	visibility: visible;
}

body.menu-is-visible .app-menu {
	transform: translateX(0);
}

/* Header */
.app-header-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, .75);
	opacity: 0;
	visibility: hidden;
	transition: all ease-in .2s;
}

.app-menu-trigger {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 8;
	height: 20px;
	width: 30px;
	outline: none;
	appearance: none;
	background-color: transparent;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}

.app-menu-trigger::after {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	height: 2px;
	background-color: #fff;
	transform: translateY(-50%);
	content: "";
}

.app-menu {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	max-width: 400px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80%;
	background-color: #fff;
	overflow-y: auto;
	transition: all ease-in .2s;
	transform: translateX(-100%);
}

.app-menu ul {
	margin-bottom: 0;
	list-style: none;
	padding-left: 15px;
}

.app-menu ul > li > a {
	display: block;
	margin-bottom: 10px;
	color: #0b2950;
	font-size: 1rem;
	font-weight: 300;
	text-decoration: none;
	transition: all ease-in .2s;
}

.app-menu ul > li > a:hover,
.app-menu ul > li > a:focus,
.app-menu ul > li > a:active {
	color: #d03129;
}

.app-menu > ul > li > a {
	font-size: 1.125rem;
	font-weight: 700;
}

.app-menu > ul > li > ul > li > a {
	font-size: 1rem;
	font-weight: 400;
}

/* App columns */
.app {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.app-column {
	position: relative;
	height: 100vh;
	padding: 15px 30px;
}

/* Register column */
.app-register {
	flex-basis: 40%;
	background-color: #0b2950;
}

.app-register-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 400px;
	width: 100%;
	transform: translate(-50%, -50%);
}

.app-title {
	color: #fff;
	font-size: 2rem;
	text-align: center;
}

.app-text {
	margin-bottom: 15px;
	color: rgba(255, 255, 255, .7);
	font-size: 1rem;
	text-align: center;
}

.app-text.-small {
	font-size: .75rem;
}

.app-input {
	position: relative;
	display: block;
	margin-bottom: 10px;
	height: 50px;
	padding: 5px 15px;
	width: 100%;
	color: #4f4e4e;
	font-size: .875rem;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 5px;
	transition: all ease-in .2s;
	appearance: none;
}

.app-input:focus {
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, .2);
}

.app-form-submit {
	display: block;
	padding: 15px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	outline: none;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all ease-in .2s;
	appearance: none;
}

.app-form-submit:hover,
.app-form-submit:focus,
.app-form-submit:active {
	background-color: #d03129;
	border-color: #d03129;
}

.app-form-message {
	display: block;
	min-height: 25px;
	text-align: center;
	margin-top: 10px;
	color: #4f4e4e;
	font-weight: 400;
	font-size: .875rem;	
}

.app-form-message::before {
	display: inline-block;
	height: 20px;
	margin-right: 8px;
	width: 20px;
	color: #fff;
	font-size: .75rem;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
}

.app-form-message.-success {
	color: #5cb85c;
}

.app-form-message.-success::before {
	background-color: #5cb85c;
	content: "✓";
}

.app-form-message.-error {
	color: #b94a48;
}

.app-form-message.-error::before {
	background-color: #b94a48;
	content: "!";
}

/* Books list */
.app-list {
	flex-basis: 60%;
	overflow-y: auto;
}

.app-list-items {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
}

.app-list-item {
	flex-basis: 50%;
	margin-bottom: 30px;
}

.app-list-title {
	margin-bottom: 3px;
	color: #0b2950;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.app-list-author {
	display: block;
	margin-bottom: 3px;
	color: #4f4e4e;
	font-weight: 400;
	font-size: .875rem;
	line-height: 1.2;
}

.app-list-author::before {
	content: "Autor: "
}

.app-list-price {
	display: block;
	color: #d03129;
	font-weight: 700;
}

.app-list-remove {
	color: #b1b1b1;
	font-size: .75rem;
	transition: all linear .2s;
	cursor: pointer;
}

.app-list-remove:hover {
	color: #d03129;
}

.app-list-remove:hover::before {
	color: #fff;
	background-color: #d03129;
	border-color: #d03129;
}

.app-list-remove::before {
	display: inline-block;
	margin-right: 5px;
	height: 13px;
	width: 13px;
	font-weight: 700;
	line-height: 13px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #b1b1b1;
	border-radius: 50%;
	transition: all linear .2s;
	transform: rotate(45deg);
	content: "+";
}